@model MouseGeno.Models.ViewModels.CageLineViewModel


<div class="container">
    <h2 class="themeFont">Cage Index for @Model.Line.Name</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="clearBackground">
        <h2>Standard Cages</h2>
        <hr />
    
    <div class="container row">
            @foreach (var cagedMice in Model.MiceInCages)
            {
                <div class="container col-md-3">
                    <a asp-action="Details" asp-route-id="@cagedMice.Cage.CageID">
                        <h3>@cagedMice.Cage.CageNumber</h3>
                        <p>Cubicle: @cagedMice.Cage.Cubicle</p>
                        <hr />
                        <h4>Mice</h4>
                        @foreach (Mouse mouse in cagedMice.Mice)
                        {

                            if (mouse.EarTag != null)
                            {
                                <p>@mouse.EarTag</p>
                            }
                            else if (mouse.ToeClip != null)
                            {
                                <p>@mouse.ToeClip</p>
                            }
                            else
                            {
                                <p>Untracked!</p>
                            }
                        }
                    </a>
                </div>
            }
        </div>
    </div>
</div>