@model MouseGeno.Models.ViewModels.LineDetailsViewModel


<br />
<div class="container">
    <div class="themeFont">
        <h2><strong>@Model.Line.Name</strong></h2>
        <p><strong>@Model.Line.Description</strong></p>
    </div>
    <div class="row container">
        <div class="container col-md-3 clearBackground">
            <h2><strong>Current Cages</strong></h2>
            <hr />
            @if(Model.Cages.Any(c => c.Breeding == true))
            {
                <h3>Breeding</h3>
                <hr />
                @foreach (Cage cage in Model.Cages.Where(c => c.Breeding == true))
                {
                    <a asp-controller="Cages" asp-action="Details" asp-route-id="@cage.CageID">
                        <p>@cage.CageNumber</p>
                    </a>
                }
            }
            @if (Model.Cages.Any(c => c.Breeding == false))
            {
                <h3>Standard</h3>
                <hr />
                @foreach (Cage cage in Model.Cages.Where(c => c.Breeding ==false))
                {
                    <a asp-controller="Cages" asp-action="Details" asp-route-id="@cage.CageID">
                        <p>@cage.CageNumber</p>
                    </a>
                }
            }

        </div>
        <div class="container col-md-8 col-md-offset-1 clearBackground">
            <h2><strong>Current Mice</strong></h2>
            <hr />
            <table class="table" background="lightgray">
                <thead>
                    <tr>
                        <th>
                            EarTag
                        </th>
                        <th>
                            ToeClip
                        </th>
                        <th>
                            Sex
                        </th>
                        <th>
                            Birth
                        </th>
                        <th>
                            Cage#
                        </th>
                        <th>
                            PK1
                        </th>
                        <th>
                            PK2
                        </th>
                        <th>
                            SynC
                        </th>
                        <th>
                            <button asp-controller="Mice" asp-action="Create" class="btn custBtn" onclick="location.href='@Url.Action("Create", "Mice")'">
                                <span class="glyphicon glyphicon-plus"></span><i class="material-icons" style="font-size: 14pt;">adb</i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Mouse mouse in Model.Mice)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => mouse.EarTag)
                            </td>
                            <td>
                                @if (mouse.ToeClip == null)
                                {
                                    <a asp-controller="Mice" asp-action="Edit" asp-route-id="@mouse.MouseID"><span class="glyphicon glyphicon-plus"></span></a>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => mouse.ToeClip)
                                }
                            </td>
                            <td>
                                @if(mouse.Sex == "F")
                                {
                                    <p><strong>&#9792; F</strong></p>
                                } else if(mouse.Sex == "M")
                                {
                                    <p><strong>&#9794; M</strong></p>

                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mouse.Birth)
                            </td>
                            <td>
                                @if (mouse.MouseCages.Count() == 0 || mouse.MouseCages.All(mc => mc.EndDate != null))
                                {
                                    <a asp-controller="Cages" asp-action="CageAssign" asp-route-mouseID="@mouse.MouseID"><span class="glyphicon glyphicon-plus"></span></a>
                                }
                                else
                                {
                                    @Model.Cages.Single(c => c.CageID == mouse.MouseCages.Single(mc => mc.EndDate == null && mc.MouseID == mouse.MouseID).CageID).CageNumber
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mouse.PK1.ShortHand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mouse.PK2.ShortHand)
                            </td>
                            <td>
                                @if (mouse.SynCre == true)
                                {
                                    <p> + </p>
                                }
                                else if (mouse.SynCre == false)
                                {
                                    <p> - </p>
                                }
                                else
                                {
                                    <p> </p>
                                }
                            </td>
                            <td>
                                <a asp-controller="Mice" asp-action="Edit" asp-route-id="@mouse.MouseID"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a asp-controller="Mice" asp-action="Details" asp-route-id="@mouse.MouseID"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        </div>
    </div>
</div>







@*<div>
    <h4>Line</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
