@model MouseGeno.Models.ViewModels.MouseDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container clearBackground">
    <h2>Mouse Details</h2>
    <hr />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.EarTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.ToeClip)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Birth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Death)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Mom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Dad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.PK1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.PK2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.SynCre)
                    </th>
                    <th>
                        Cage #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mouse.Line)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.EarTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.ToeClip)
                    </td>
                    <td>
                        @if (Model.Mouse.Sex == "F")
                        {
                            <p><strong>&#9792; F</strong></p>
                        }
                        else if (Model.Mouse.Sex == "M")
                        {
                            <p><strong>&#9794; M</strong></p>

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.Birth)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.Death)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.Mom.EarTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.Dad.EarTag)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.PK1.ShortHand)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.PK2.ShortHand)
                    </td>
                    <td>
                        @if (Model.Mouse.SynCre == true)
                        {
                            <p> + </p>

                        }
                        else if (Model.Mouse.SynCre == false)
                        {
                            <p> - </p>

                        }
                        else
                        {
                            <p> </p>

                        }
                    </td>
                    <td>
                        @if (Model.Cage == null)
                        {
                            <a asp-controller="Cages" asp-action="CageAssign" asp-route-mouseID="@Model.Mouse.MouseID">[Assign]</a>

                        }
                        else
                        {
                            @Model.Cage.CageNumber
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Mouse.Line.Name)
                    </td>
                </tr>
            </tbody>
        </table>
           
    </div>
    <div>
        <button class="custBtn" onclick="location.href='@Url.Action("Terminate", "Mice", new {mouseID = Model.Mouse.MouseID })'">
            <p>Terminate </p><i class="material-icons" style="font-size: 14pt;">adb</i>
        </button>
        <button class="custBtn" onclick="location.href='@Url.Action("CageAssign", "Cages", new {mouseID = Model.Mouse.MouseID })'">
            <p>Transfer </p><i class="material-icons" style="font-size: 14pt;">adb</i>
        </button>
        <button class="custBtn" onclick="location.href='@Url.Action("Edit", "Mice", new {id = Model.Mouse.MouseID })'">
            <p>Edit </p><i class="material-icons" style="font-size: 14pt;">adb</i>
        </button>
        <button class="custBtn" onclick="location.href='@Url.Action("Details", "Lines", new {id = Model.Mouse.LineID })'">
            <p>Back to Line </p>
        </button>
        <button class="custBtn" onclick="location.href='@Url.Action("Delete", "Mice", new {id = Model.Mouse.MouseID })'">
            <p>Delete </p><i class="material-icons" style="font-size: 14pt;">adb</i>
        </button>
    </div>
</div>