@model IEnumerable<MouseGeno.Models.Mouse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EarTag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToeClip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Death)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MomID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DadID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SynCre)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PK1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PK2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EarTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToeClip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Death)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DadID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SynCre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PK1.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PK2.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MouseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MouseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MouseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
