@model MouseGeno.Models.TaskType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeasurementType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeasurementType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaskTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
